body {
  font-family: Verdana, Geneva, sans-serif !important;
}


.side_nav{
    text-align:left;
    float:left;
    position:fixed;
    display:inline-block;
    font-size:20px;

}
.side_nav a{
    text-decoration: none;
    color: black;

}
.side_nav a:active{
    font-weight:bold;
    color:blue;

}
*/
 .topnav a:hover {
    font-weight:bold;
    
  } 

.body{
  overflow: auto
}

.main_text{
    border:10px;
    display:inline-block;
    margin-left: 200px;
    margin-right:20px;
    font-size:20px;
}
.container{
    padding: 10px;
    margin: 0px;
}


/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.socials{
    text-align: center;
    color :white;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    /* text-decoration: none; */
    margin: 5px 2px;
    /* border-radius: 50%; */

}

.fa:hover{
    opacity: .7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    font-size:48px;   

  }
.fa-github{
    background: black;
    color: white;
    font-size:48px;   
}

.profile_pic{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:250px;
}

/* w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .collapse_content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }